# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Production / Bundles
dist/
**/dist/
build/
**/build/
out/

# Android & Gradle
.gradle/
**/.gradle/
*.iml
.kotlin/
local.properties
captures/
.externalNativeBuild
.cxx
debug.keystore

# IDEs and editors
.idea/
**/.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables & secrets
.env
.env.local
.env.*.local
!.env.example

# Test reports & logs
test-reports/
**/test-reports/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
